.footer {
    background-color: #fff9f2;
    padding: 50px 0;

    &__box {
        display: flex;
        justify-content: space-around;

        .footer__catalog, 
        .footer__info,
        .footer__contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .footer__catalog__ul,
            .footer__info__ul,
            .footer__contacts__ul {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .footer__catalog__li,
                .footer__info__li,
                .footer__contacts__li {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 100%;
                    cursor: pointer;
                    transition: all .3s ease;
                }

                .footer__catalog__li:hover,
                .footer__info__li:hover,
                .footer__contacts__li:hover {
                    color: #e95f5f;
                }
            }
        }
    }
}