.category {
    padding: 60px 0 32px;

    .category__box {

        .category__text {
            font-weight: 700;
            font-size: 16px;
            color: #c9a96e;
        }

        .category__title {
            font-weight: 700;
            font-size: 24px;
            color: #000;
        }
        
        .category__items {
            padding-top: 24px;
        }
    }
}