.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
    .form__box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}


@media (max-width: 720px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
      .form__box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
      }
  }
}