 .filter_button {
            font-family: Geoform;
            font-weight: 400;
            font-size: 12px;
            width: 100px;
            height: 35px;
            border: 1px solid #1E2235;
            border-radius: 23px;
            background: transparent;
    }