@font-face {
  font-family: "Geoform";
  src: url('/assets/fonts/Geoform/Geoform-Thin.otf') format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geoform";
  src: url('/assets/fonts/Geoform/Geoform-Light.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geoform";
  src: url('/assets/fonts/Geoform/Geoform-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geoform";
  src: url('/assets/fonts/Geoform/Geoform-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Majestic";
  src: url('/assets/fonts/Majestic/Majestic_0.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Geoform";
  background-color: #fff;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}


@media screen and (max-width: 1300px) {
  .container{
      width: 88%;
  }
}

.modal-overlay {
  z-index: 9999 !important;
}