@font-face {
  font-family: "Geoform";
  src: url('../../../public/assets/fonts/Geoform/Geoform-Bold.otf');
  src: url('../../../public/assets/fonts/Geoform/Geoform-Medium.otf');
  src: url('../../../public/assets/fonts/Geoform/Geoform-Light.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Geoform";
  background-color: #FCFAF7;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}


@media screen and (max-width: 1350px) {
  .container{
      width: 88%;
  }
}

.modal-overlay {
  z-index: 9999 !important;
}