.recommendedCardsContainer{
    display: flex;
    gap: 20px;
}

.recomend h2{
    font-family:  "Integral CF", sans-serif;
font-weight: 700;
font-size: 48px;
text-align: center;
color: #000;
margin: 64px ;
}