.email{
    width: 105%;
    max-width: 377px; 
    min-width: 200px; 
    background: #F0F0F0 url('/assets/icons/Frame.svg') no-repeat 16px center; 
    background-size: 20px 20px;
    padding: 12px 124px 14px 52px; 
    border: none;
    border-radius: 62px;
    font-size: 16px;
    transition: all 0.3s ease; 
    margin-bottom: 14px;
  }
  