.InputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fullWidth {
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.required {
  color: red;
  margin-left: 4px;
}

.input {
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.2s ease;
  outline: none;
  position: relative;

  &:focus {
    border-color: #007bff;
  }

  &:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #000;
  }
}

/* Variants */

.headerSearch {
  background-color: white;
  border: 1px solid #808080;
}


/* Sizes */

.headerSearchSize {
  width: 331px;
  height: 49px;
  font-weight: 400;
  font-size: 20px;
}


/* Errors */

.error {
  border-color: #ff4d4f;
}

.errorText {
  font-size: 12px;
  color: #ff4d4f;
}
