.ratings{
    display: flex;
    align-items: center;
    gap: 13px;    

}
.content h3 {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin: 16px 0 8px;

}

.des{
    display: flex;
    gap: 10px;
}

.des span {
    font-family:"Satoshi", sans-serif;
font-weight: 700;
font-size: 24px;
color: #000;
}

.settings_product .prices {
    text-decoration: line-through;
  }
  
  .settings_product .discount {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
  }