.ratings{
    display: flex;
    align-items: center;
    gap: 13px;    

}
.content h3 {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin: 16px 0 8px;

}