.header {
    background-color: #1E2235;
    padding: 20px 0;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            font-weight: 700;
            font-size: 34px;
            cursor: pointer;
        }

        .header__nav__right {
            width: 325px;
            display: flex;
            column-gap: 32px;
        }

        .header__mobile {
            display: none;
        }
    }
}