.modalContent {
    padding: 20px;
    width: 100%;
    max-width: 28rem;
    
  }
  
  .title {
    font-size: 26px;
    text-align: center;
  }
  
  .errorMessage {
    margin-bottom: 1rem; // mb-4
    padding: 0.5rem; // p-2
    background-color: #fee2e2; // bg-red-100
    color: #b91c1c; // text-red-700
    border-radius: 0.25rem; // rounded
    font-size: 0.875rem; // text-sm
  }
  
.switchModeWrapper {
  text-align: center;
  margin-top: 16px;
}

.switchModeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.switchModeButton:hover {
  color: var(--primary-hover);
}