.filter {
    padding-top: 20px;
    padding-bottom: 33px;
}

.filterElement {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    &__input {
        width: 18px;
        height: 18px;
        margin-right: 11px;
        border: 1px solid #FCFAF7;
        display: block;
    }
    &__label {
        font-family: Geoform;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;

    }
}