.Button  {
    border: none;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    position: relative;
}






.Button.card {
    background: #1e2235;
    color: #fff;
}

Button.card:hover {
    background-color: #3D4FA5;
}

.Button.cardSize {
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    padding: 12px 77.5px 12px 43.5px;
}

.Button.cardSize::after {
    content: '';
    position: absolute;
    background-image: url(/assets/icons/Cart.svg);
    width: 24px;
    height: 24px;
    top: 8px;
    right: 45px;
}

@media screen and (max-width: 500px) {
    .Button.cardSize {
        font-size: 12px;
        padding: 12px 74px 12px 44px;
    }
}

@media screen and (max-width: 430px) {
    .Button.cardSize {
        font-size: 12px;
        padding: 12px 44px 12px 24px;
    }

    .Button.cardSize::after {
        right: 30px;
    }
}

@media screen and (max-width: 380px) {
    .Button.cardSize::after {
        right: 25px;
    }
}







.Button.show {
    background: #fcfaf7;
    color: #1e2235;
}

Button.show:hover {
    background: #b9c5ff;
}

.Button.showSize {
    font-weight: 700;
    font-size: 16px;
    padding: 8px 73px;
}







.Button.modal {
    width: 100%;
    border-radius: 10px;
    background: #1e2235;
    color: #fff;
}

Button.modal:hover {
    background: #3d4fa5;
}

.Button.modalSize {
    font-weight: 700;
    font-size: 16px;
    padding: 20px 73px;
}