.cartButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;

    .name {
        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }
}