.productCard {
    max-width: 204px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    position: relative;

    &__image {
        width: 100%;
        height: 270px;
        border-radius: 30px;
        object-fit: cover;
    }

    .productCard__icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__content { 
        display: flex;
        flex-direction: column;
        gap: 12px;   

        .productCard__title {
           font-weight: 500;
           font-size: 16px;
           color: #000;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
        }
        &__sizes {
            width: 94px;
            height: 25px;
            border-radius: 12px;
            border: 1px solid rgba(41, 45, 50, 1);
            color: rgba(41, 45, 50, 1);
            text-align: center;
            font-size: 12px;
            line-height: 25px;

        .productCard__details {
            display: flex;
            gap: 20px;
            align-items: center;

            .productCard__sizes {
                width: 100%;
                height: 25px;
                border: 1px solid #292d32;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .productCard__sizesText {
                    font-weight: 400;
                    font-size: 12px;
                    color: #000;
                }
            }

            .productCard__colors {
                display: flex;
                column-gap: 12px;

                .productCard__color {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 1px solid #000;
                    background-color: aquamarine;
                }
            }
        }

        .productCard__maker {
            width: 100%;
            height: 25px;
            border: 1px solid #292d32;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .maker {
                font-weight: 400;
                font-size: 12px;
                color: #000;
                position: relative;
                padding-left: 21px;
            }

            .maker::after {
                content: '';
                position: absolute;
                background-image: url(/assets/icons/LocationCardMaker.svg);
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
            }
        }

        .productCard__priceWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .productCard__price {
                font-weight: 700;
                font-size: 20px;
                color: #0024cd;
            }

            .productCard__oldPrice {
                font-weight: 400;
                font-size: 16px;
                text-decoration: line-through;
                color: #808080;
            }
        }
    }
}