.contacts {
    padding-bottom: 24px;

    &__box {
      display: flex;
      justify-content: space-between;
    }
  
    &__item {
      border: 1px solid #1e2235;
      border-radius: 10px;
    
      .contacts__title {
        font-weight: 400;
        font-size: 16px;
        color: #808080;
        padding-bottom: 4px;
      }
    
      .contacts__des {
        font-weight: 500;
        font-size: 16px;
        max-width: 170px;
        position: relative;
        cursor: pointer;
    
        &::after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          top: var(--icon-top, -12px);
          left: -32px;
          background-image: var(--icon-url);
          background-repeat: no-repeat;
        }
      }
    }
    
    &__social {
      padding: 10px 46px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    
      .contacts__title {
        color: #000;
      }
    }
    
    &__imgs {
      display: flex;
      column-gap: 12px;
    
      .img {
        cursor: pointer;
      }
    }
}